.hero {
    min-height: 80vh;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
}

h2, h3 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.h2-larger {
    font-size: 3.5rem;
}

.contact h2 {
    color: rgb(35, 35, 126);
}

main {
    background: url("../img/financial-consulting.json");
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}
