@import url("https://use.typekit.net/pox5gjp.css");

* {
    transition: 0.2s;
}

.card {
    border: none;
}
p, li {
    font-family: "proxima-nova", sans-serif;
}

h1, h2, h3, h4, header a, .upper-header a, .btn, .list p, label {
    font-family: "quatro", sans-serif;
    font-weight: bolder;
}



.btn {
    font-weight: bolder;
    border-radius: 30px;
}

.btn-black {
    background-color: black;
    color: white;
}

.upper-header {
    background: linear-gradient(to right, rgb(158, 173, 203), rgb(66, 73, 200));
}

.upper-header .tel {
    background-color: rgb(56, 61, 131);
    color: white;
}

.upper-header a {
    color: white;
    font-weight: bolder;
}

.upper-header a:hover, header a:hover {
    color: rgb(135, 135, 183);
}

header {
    background: white;
}

header a {
    color: rgb(35, 35, 126);
    text-decoration: none;
    font-weight: bolder;
}

.hero {
    background: linear-gradient(to right, rgb(158, 173, 203), rgb(66, 73, 200)); 
    color: white;
    min-height: 25vh;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
}

.btn-blue {
    background-color: rgb(56, 61, 131);
    color: white;
}

.btn-purple {
    color: white;
    background-color: rgb(35, 35, 126);
}

.btn-white {
    background-color: white;
    color: black;
}

form {
    background-color: rgb(0, 0, 0);
    color: white;
}

input[type="text"], input[type="tel"], input[type="email"] {
    background: rgba(0,0,0,0);
    border: white solid 1px;
    border-radius: 0;
}

.text-small {
    font-size: 0.8rem;
}

.text-purple {
    color:rgb(35, 35, 126);
    font-weight: bolder;
}

.line-white-top {
    border-top: white solid 1px;
}

footer, .bg-purple {
    background: linear-gradient(to right, rgb(114, 114, 152), rgb(35, 35, 126));
    color: white;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer h3 {
    font-size: 1rem;
}
@media screen and (min-width: 768px) {
    .row-high {
        min-height: 80vh;
    }
}